body {
  background-color: #000;
  margin: 0;
  height: 100%;
}

.vertical-center {
  margin: auto;
  width: 90%;
}

.horizontal-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
