html, body {
  background-color: #000;
  height: 100%;
  margin: 0;
  position: relative;
}

.container {
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.horizontal-center {
  margin: auto;
}

.rounded {
  border-radius: 20px;
}

input[type="text"] {
  padding: 10px;
  line-height: 24px;
  text-align: center;
}

.username-selection {
  padding-top: 30px;
  padding-bottom: 30px;
}

.region-selection {
  padding-bottom: 30px;
}

.results {
  padding-bottom: 30px;
}

h1 {
  color: #FFFFFF;
}

.gray {
  color: #D3D3D3;
}

#message {
  color: #FF0000;
}

ul.region-selection {
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}

li {
	display:inline;
}

li:hover {
    background-color: #111;
}
